:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --header-color: #db00ff;
  --title-color: #ff0070;
  --btn-hover-color: rgba(255, 0, 112, 0.4);
}